@using System;
@using Sandbox;
@using Sandbox.UI;

@inherits Panel;
@namespace Roguemoji

<style>
    .character
    {
        flex-direction:row;
        align-items:center;
        justify-content:center;
    }

    .column
    {
        flex-direction:column;       
        align-items: center;
        padding: 10px;
    }

    .row
    {
        flex-direction:row;       
        align-items: center;
    }

    .char_icon
    {
        width:100px;
        font-size: 64px;
        background-color: #090909;
        border-radius:3px;
        text-align: center;
        justify-content: center;
        padding-bottom:4px;
        font-family: 'Segoe UI Emoji';
    }

    .name_label
    {
        margin: 0 0 2px 0;
        font-size: 18px;
        color: #ffffff55;
        max-width: 100px;
        overflow:hidden;
        white-space: nowrap;
    }

    .char_stat_display
    {
        flex-direction: row;
        flex-wrap: wrap;
        margin: 4px 0 5px 0;
        justify-content: center;
        max-width: 160px;
        padding-top: 4px;
    }

    .char_stat_icon {
        font-size: 22px;
        color: white;
        text-align: center;
        padding-bottom: 2px;
    }

    .char_stat_label {
        font-size: 22px;
        color: #ffffff55;
        //text-align: center;
        justify-content: flex-end;
        min-width: 26px;
    }

    .level_label
    {
        margin: 0 0 5px 0;
        font-size: 22px;
        color: #ffffff44;
    }

    .equipment
    {
        border: 1px solid #453055;
        border-radius: 3px;
        margin: 10px;
        pointer-events: all;
    }

    .input_icon
    {
        width: 30px;
        font-size: 25px;
        margin-right: 4px;
        text-align: right;
    }

    .input_recharge_bar
    {
        width: 100px;
        height: 4px;
        flex-shrink: 0;
        background-color: #333333;
        border-radius: 1px;
    }

    .input_recharge_bar_overlay 
    {
        height: 100%;
        transform-origin: left;
        position: absolute;
        background-color: #5555ff;
        border-radius: 1px;
    }

    .wielding_use_tag 
    {
        width: 30px;
        height: 30px;
        position: absolute;
        border: 1px solid #222222;
        left: 70px;
        top: -1px;
        border-radius: 3px;
        font-size: 20px;
        align-items: center;
        justify-content: center;
        color: white;
    }
</style>

<root class="character">
    @if(RoguemojiGame.Instance.LocalPlayer == null)
    {
        return;
    }

    @{
        var player = RoguemojiGame.Instance.LocalPlayer;
    }

    <div class="column">
        <div class="name_label"> @player.DisplayName </div>
        <div class="char_icon @GetPlayerClass()" @ref=PlayerIcon @onmousedown=@((PanelEvent e) => OnMouseDownPlayerIcon(e as MousePanelEvent) )> @player.DisplayIcon </div>
        <div class="input_recharge_bar">
            <div class="input_recharge_bar_overlay" style="width: @Utils.Map(player.ActionRechargePercent, 0f, 1f, 0f, 100f, EasingType.SineInOut)%; opacity: @Utils.Map(player.ActionRechargePercent, 0f, 1f, 0.25f, 1f, EasingType.ExpoIn);"></div>
        </div>

        <div class="char_stat_display">
            @foreach (var pair in player.Stats)
            {
                var statType = pair.Key;
                if (Thing.ShouldShowOnCharacterPanel(statType))
                {
                    <StatContainer Stat=@pair.Value></StatContainer>
                }
            }
        </div>

        <!-- <div class="level_label"> @($"Level: {player.CurrentLevelId}") </div> -->
        <!-- <div class="row" style="width: 120px;"> -->

            <!-- <div class="input_icon">@(player.IsInputReady ? "☑️" : "⏳️")</div> -->
            
        <!-- </div> -->
        <!-- <div style="color: white; font-size:14px; max-width: 60px; overflow: visible; white-space: nowrap;"> @player.QueuedActionName </div> -->
    </div>
     <div class="column">
        <WieldingPanel @ref=WieldingPanel></WieldingPanel>
        <EquipmentPanel class="equipment" style="width: @(RoguemojiGame.CellSize * RoguemojiGame.EquipmentWidth + 4)px; height: @(RoguemojiGame.CellSize * RoguemojiGame.EquipmentHeight + 4)px;" @ref=EquipmentPanel></EquipmentPanel>
     </div>
</root>

@code
{
    public EquipmentPanel EquipmentPanel { get; set; }
    public WieldingPanel WieldingPanel { get; set; }
    public Panel PlayerIcon { get; set; }

    string GetPlayerClass()
    {
        var player = RoguemojiGame.Instance.LocalPlayer;
        return (player?.PlayerNum ?? 0) > 0 ? $"icon-player-{player.PlayerNum}" : "";
    }

    protected override int BuildHash()
    {
        var player = RoguemojiGame.Instance.LocalPlayer;
        return HashCode.Combine(player.GetInfoDisplayHash(), player.ActionRechargePercent, player.StatHash);
    }

    public void OnMouseDownPlayerIcon(MousePanelEvent e)
    {
        bool rightClick = e.Button == "mouseright";
        bool shift = Input.Down(InputButton.Run);

        var player = RoguemojiGame.Instance.LocalPlayer;
        if (player == null)
            return;

        Hud.Instance.PlayerIconClicked(rightClick, shift);

        Hud.Instance.UnfocusChatbox();
    }
}

    