@using System;
@using Sandbox;
@using Sandbox.UI;

@inherits Panel;
@namespace Roguemoji

<style>
    .character
    {
        flex-direction:row;
        align-items:center;
        justify-content:center;
    }

    .column
    {
        flex-direction:column;       
        align-items: center;
    }

    .char_icon
    {
        margin: 0 0 5px 0;
        font-size: 45px;
    }

    .name_label
    {
        margin: 0 0 5px 0;
        font-size: 22px;
        color: #ffffff55;
    }

    .hp_label
    {
        margin: 0 0 5px 0;
        font-size: 22px;
        color: #ffffff77;
    }

    .level_label
    {
        margin: 0 0 5px 0;
        font-size: 22px;
        color: #ffffff44;
    }

    .equipment
    {
        border: 1px solid #ffffff05;
        border-radius: 3px;
        margin: 10px;
    }

    .wielding
    {
        width: 60px;
        height: 60px;
        font-size: 42px;
        align-items: center;
        justify-content: center;
        border: 1px solid #ffffff05;
        border-radius: 3px;
        padding-bottom: 4px;
    }
</style>

<root class="character">
    @if(RoguemojiGame.Instance.LocalPlayer == null)
    {
        return;
    }

    @{
        var player = RoguemojiGame.Instance.LocalPlayer;
    }

    <div class="column">
        <div class="char_icon @GetPlayerClass()"> @player.DisplayIcon </div>

        <div class="name_label"> @player.DisplayName </div>
        <div class="hp_label"> @($"{player.Hp}/{player.MaxHp}❤️") </div>
        <div class="level_label"> @($"Level: {player.CurrentLevelId}") </div>
    </div>
     <div class="column">
        <div class="wielding"> @(player.EquippedThing?.DisplayIcon.Substring(player.EquippedThing.CharSkip) ?? "") </div>
        <EquipmentPanel class="equipment" style="width: @(40 * RoguemojiGame.EquipmentWidth)px; height: @(40 * RoguemojiGame.EquipmentHeight)px;" @ref=EquipmentPanel></EquipmentPanel>
     </div>
</root>

@code
{
    public EquipmentPanel EquipmentPanel { get; set; }

    string GetPlayerClass()
    {
        return (RoguemojiGame.Instance.LocalPlayer?.PlayerNum ?? 0) > 0 ? $"icon-player-{RoguemojiGame.Instance.LocalPlayer.PlayerNum}" : "";
    }

    protected override int BuildHash()
    {
        return HashCode.Combine(RoguemojiGame.Instance.LocalPlayer?.GetInfoDisplayHash() ?? 0);
    }
}