@using Sandbox;
@using Sandbox.UI;
@using System;

@inherits Panel;
@namespace Roguemoji

<style>
    .icon
    {
        width: 40px;
        height: 40px;
		justify-content: center;
        align-items: center;
        text-align: center;
        position: absolute;
        pointer-events:all;
        font-size: 29px;
        padding-bottom: 4px;
        border: 1px solid #00000000;
        //overflow: hidden;
        //flex-wrap:nowrap;
        //color: transparent;  
        //text-shadow: 0 0 0.01px #ff0000;
        //filter: contrast(0.5);
        //filter: contrast(100);
        //filter: blur(5px);
        //transform-origin: 0% 50%;
    }

    .image
    {
        //background-color: #0000ff88;
    }

    .wielded_thing 
    {
        width: 20px;
        height: 20px;
        position: absolute;
        left: 20px;
        top: 17px;
        font-size: 18px;
        pointer-events: none;
        //background-color: #ff000088;
    }

    .selected 
    {
        border: 1px solid #bbbbff44;
        border-radius:3px;
        //filter: brightness(2);
        //filter: brightness(0.3);
        //filter: contrast(3);
        //text-shadow: 0px 0px 8px #000000;
        //text-decoration: overline underline 4px black wavy;
        //text-decoration-skip-ink: none;
    }

    .solid
    {
        text-shadow: 0px 0px 8px #000000;
        //background-color: #ffffff11;
        //filter: blur(10px);
        //box-shadow: 0 0 12px #ffffff11;
        //border-radius:3px;
    }
    
    .dragging
    {
        opacity: 0.2;
        transition: opacity 0.1s ease-in;
    }

    .wielded
    {
        background-color: #5555ff22;
        border-radius: 3px;
    }
</style>

<root class="icon @GetWieldedClass() @GetSelectedClass() @GetSolidClass()" )>
    <div class="image @GetPlayerClass() @GetDraggingClass()" @ref=IconPanel>@Thing.DisplayIcon.Substring(Thing.CharSkip) </div>

    @if (Thing.WieldedThing != null)
    {
        <div class="wielded_thing"> @Thing.WieldedThing.DisplayIcon.Substring(Thing.WieldedThing.CharSkip) </div>
    }
</root>

@code
{
    public Panel IconPanel { get; set; }

    public Thing Thing { get; set; }
    public int GridIndex { get; set; }

    string GetPlayerClass()     { return Thing.PlayerNum > 0 ? $"icon-player-{Thing.PlayerNum}" : ""; }
    string GetSelectedClass()   { return IsSelected() ? "selected" : ""; }
    string GetSolidClass()      { return Thing.Flags.HasFlag(ThingFlags.Solid) ? "solid" : ""; }
    string GetDraggingClass()   { return Thing == Hud.Instance.DraggedThing ? "dragging" : ""; }
    string GetWieldedClass()    { return IsWielded() ? "wielded" : ""; }
    bool IsWielded()            { return Thing == RoguemojiGame.Instance.LocalPlayer?.WieldedThing; }
    bool IsSelected()           { return Thing == RoguemojiGame.Instance.LocalPlayer?.SelectedThing; }

    protected override Panel CreateTooltipPanel()
    {
        var panel = Hud.Instance.AddChild<CellTooltip>();
        panel.Text = Tooltip;
        panel.AddClass($"player-{Thing.PlayerNum}");
        return panel;
    }

    protected override int BuildHash()
    {
        var player = RoguemojiGame.Instance.LocalPlayer;
        if (Thing == null || player == null)
            return base.BuildHash();

        return HashCode.Combine( Thing.GetHashCode(), IsSelected(), IsWielded(), Thing.NetworkIdent );
    }

    protected override void OnAfterTreeRender(bool firstTime)
    {
        base.OnAfterTreeRender(firstTime);

        if (Thing == null)
            return;

        Tooltip = Thing.Tooltip;
        SetTransform(Thing.Offset * ScaleToScreen, Thing.RotationDegrees, Thing.IconScale);
        Style.ZIndex = GridIndex + Thing.GetZPos();
    }

    public void SetTransform(Vector2 offset, float rotation, float scale)
    {
        var tr = new PanelTransform();
        //tr.AddTranslate(offset.x, offset.y);
        tr.AddRotation(0f, 0f, rotation);
        tr.AddScale(scale);
        IconPanel.Style.Transform = tr;
    }

    protected override void OnMouseDown(MousePanelEvent e)
    {
        base.OnMouseDown(e);

        bool shift = Input.Down(InputButton.Run);
        bool rightClick = e.Button == "mouseright";

        if(Thing.ContainingGridManager.GridType == GridType.Arena)
        {
            Hud.Instance.GridCellClicked(Thing.GridPos, GridType.Arena, rightClick, shift, doubleClick: false);
        }
        else if(Thing.ContainingGridManager.GridType == GridType.Inventory)
        {
            if(shift || rightClick)
                Hud.Instance.GridCellClicked(Thing.GridPos, GridType.Inventory, rightClick, shift, doubleClick: false);
            else
                Hud.Instance.StartDragging(Thing, this, rightClick);
        }
        else if(Thing.ContainingGridManager.GridType == GridType.Equipment)
        {
            if(shift || rightClick)
                Hud.Instance.GridCellClicked(Thing.GridPos, GridType.Equipment, rightClick, shift, doubleClick: false);
            else
                Hud.Instance.StartDragging(Thing, this, rightClick);
        }

        e.StopPropagation();
    }

    protected override void OnDoubleClick(MousePanelEvent e)
    {
        base.OnDoubleClick(e);

        bool shift = Input.Down(InputButton.Run);
        bool rightClick = e.Button == "mouseright";

        if (Thing.ContainingGridManager.GridType == GridType.Inventory)
        {
            Hud.Instance.GridCellClicked(Thing.GridPos, GridType.Inventory, rightClick, shift, doubleClick: true);
        }

        e.StopPropagation();
    }
}