@using System;
@using Sandbox;
@using Sandbox.UI;

@inherits Panel;
@namespace Roguemoji

<style>
    .info {
        flex-direction: row;
        align-items:center;
        justify-content:flex-start;
        border: 1px solid #303030;
        //flex-basis: content;
        //flex-grow: 1;
        //flex-shrink: 1;
    }

    .selected_info {
        flex-shrink: 0;
        padding: 10px;
        flex-direction: column;
        align-items: center;
        margin: 0 20px 0 20px;
    }

    .icon {
        //width: 82px;
        //height: 82px;
        margin: 0 0 10px 0;
        font-size: 55px;
        //background-color: #ff000066;
        font-family: 'Segoe UI Emoji';
    }

    .info_wielded {
        width: 40px;
        height: 40px;
        position: absolute;
        pointer-events: none;
        text-stroke-color: #000000;
        text-stroke-width: 2px;
        text-shadow: 0px 0px 0px #000000;
    }

    .name_label {
        margin: 0 0 -3px 0;
        font-size: 20px;
        color: #888888;
        text-align: center;
    }

    .equipment_label {
        font-size: 15px;
        color: #ee99ff88;
    }

    .info_description_label {
        font-size: 14px;
        color: #555555;
        font-style: italic;
        flex-wrap: wrap;
        text-align: left;
        max-width: 180px;
        max-height: 80px;
        overflow: hidden;
        background-color: #030303;
        border-radius: 3px;
        padding: 8px;
    }

    .thing_selected {
        border: 1px solid #bbbbff44;
    }

    .debug {
        color: #44554499;
        font-size: 12px;
    }

    .info_panel_tattoo {
        position: absolute;
        //background-color: #0000ff88;
        justify-content: center;
        align-items: center;
        text-stroke-color: #000000;
        text-stroke-width: 2px;
    }
</style>

<root class="info @GetSelectedClass()">
    @if(SelectedThing == null)
    {
        return;
    }

     <div class="selected_info">
        <div class="name_label"> 
            @(GetName(SelectedThing))
        </div>

        @if (SelectedThing.HasFlag(ThingFlags.Equipment))
        { 
            <div class="equipment_label">
                Accessory 
            </div> 
        }

        <div class="icon @GetPlayerClass() @Hud.Instance.GetUnusableClass(SelectedThing)">
            @SelectedThing.DisplayIcon

            @if (SelectedThing.HasTattoo)
            {
                int fontSize = MathX.FloorToInt(55f * SelectedThing.TattooData.Scale);
                var offset = SelectedThing.TattooData.OffsetInfo;
                <div class="info_panel_tattoo" style="width: 64px; height: 64px; font-size: @(fontSize)px; left: @(offset.x)px; top: @(offset.y)px;">
                    @(Hud.GetTattooIcon(SelectedThing))
                </div>
            }

            @if (SelectedThing.WieldedThing != null) {
                var wieldedThing = SelectedThing.WieldedThing;
                var wieldedOffset = SelectedThing.InfoWieldedThingOffset;
                <div class="info_wielded" style="left:@(wieldedOffset.x)px; top:@(wieldedOffset.y)px; font-size:@(SelectedThing.InfoWieldedThingFontSize);">
                    @wieldedThing.DisplayIcon.Substring(wieldedThing.CharSkip)

                    @if (wieldedThing.HasTattoo)
                    {
                        int fontSize = MathX.FloorToInt(32f * wieldedThing.TattooData.Scale);
                        var offset = wieldedThing.TattooData.OffsetInfoWielded;
                        <div class="info_panel_tattoo" style="width: 40px; height: 40px; font-size: @(fontSize)px; left: @(offset.x)px; top: @(offset.y)px;">
                            @(Hud.GetTattooIcon(wieldedThing))
                        </div>
                    }
                </div> 
            }
        </div>

        @if (!string.IsNullOrEmpty(SelectedThing.Description)) 
        { 
            <div class="info_description_label">
                @(GetDescription(SelectedThing))
            </div>
        }
    </div>

    @if (SelectedThing.HasStats) 
    { 
        <StatsDisplay Thing=@SelectedThing></StatsDisplay>     
    }

    @if (SelectedThing.Traits != null && SelectedThing.Traits.Count > 0) 
    { 
        <TraitsDisplay Thing=@SelectedThing></TraitsDisplay> 
    }
</root>

@code
{
    public Thing SelectedThing { get; set; }

    string GetSelectedClass()
    {
        return SelectedThing != null ? "thing_selected" : "";
    }

    string GetPlayerClass()
    {
        return SelectedThing.PlayerNum > 0 ? $"icon-player-{SelectedThing.PlayerNum}" : "";
    }

    string GetName(Thing thing)
    {
        var player = RoguemojiGame.Instance.LocalPlayer;

        if (thing is Scroll scroll)
        {
            if (!player.IsScrollTypeIdentified(scroll.ScrollType))
                return $"Scroll of {RoguemojiGame.Instance.GetUnidentifiedScrollName(scroll.ScrollType)}";
        }
        else if (thing is Potion potion)
        {
            if (!player.IsPotionTypeIdentified(potion.PotionType))
                return $"{RoguemojiGame.Instance.GetUnidentifiedPotionName(potion.PotionType).FirstCharToUpper()} Potion";
        }

        return thing.DisplayName;
    }

    string GetDescription(Thing thing)
    {
        var player = RoguemojiGame.Instance.LocalPlayer;

        if (thing is Scroll scroll)
        {
            if (!player.IsScrollTypeIdentified(scroll.ScrollType))
                return $"An unidentified scroll";
        }
        else if (thing is Potion potion)
        {
            if (!player.IsPotionTypeIdentified(potion.PotionType))
                return $"An unidentified potion";
        }

        return thing.Description;
    }

    protected override int BuildHash()
    {
        var player = RoguemojiGame.Instance.LocalPlayer;
        return HashCode.Combine(SelectedThing?.GetInfoDisplayHash() ?? 0, player.StatHash);
    }
}