@using System;
@using Sandbox;
@using Sandbox.UI;
@using System.Collections.Generic;
@using System.Linq;

@inherits GridPanel;
@namespace Roguemoji

<style>
    .inventory_bg {
        opacity: 0.005;
        //background-color: transparent;
        //box-shadow: 0px 0px 0px #0000ff;
        position:absolute;
        pointer-events:all;
        background-repeat: repeat;
        background-position: 0 0;
        background-size: 80px;
        border-radius:3px;
        width:100%;
        height:100%;
    }

    .number_label {
        position: absolute;
        color: #999999;
        font-size: 12;
        font-weight: bold;
        pointer-events: none;
        padding: 0 0 0 2px;
        text-stroke-color: #000000;
        text-stroke-width: 5px;

        &.dimmed
        {
            color: #282828;
            text-stroke-color: #111111;
        }
    }

    .top_row_bg {
        //background-color: #22552210;
        background-color: #ffffff;
        opacity: 0.01;
        pointer-events: none;
        height: 40px;
        border-radius: 3px;
    }
</style>

<root>
    <div class="inventory_bg" style="background-image: url( textures/bg_tile.png );"></div>

    @{
        var player = RoguemojiGame.Instance.LocalPlayer;
    }

    @if (player?.InventoryGridManager?.Things == null)
    {
        return;
    }

    <div class="top_row_bg" style="width: @(40 * Math.Min(GridWidth, 10) + (GridWidth > 10 ? -0.5f : 1f))px;"></div>

    @foreach(var thing in GetThings())
    {
        var index = GetIndex(thing.GridPos);
        <GridCell style="left: @(thing.GridPos.x * 40); top: @(thing.GridPos.y * 40);" Thing=@thing GridIndex=@index />

        if (thing == player.SelectedThing)
        {
            <div class="selected" style="left: @(thing.GridPos.x * 40); top: @(thing.GridPos.y * 40);"></div>
        }
    }

    @for (int index = 0; index < Math.Min(GridWidth, 10); index++)
    {
        var gridPos = Hud.Instance.GetGridPanel(GridType.Inventory).GetGridPos(index);
        var things = player.InventoryGridManager.GetThingsAtClient(gridPos);
        <div class="number_label @(things.Count() == 0 ? "dimmed" : "")" style="left: @(gridPos.x * 40); top: @(gridPos.y * 40); z-index:9999;"> 
            @((index + 1 == 10) ? 0 : index + 1) 
        </div>
    }
</root>

@code
{
    public override int GridWidth => RoguemojiGame.Instance.LocalPlayer.InventoryGridManager.GridWidth;
    public override int GridHeight => RoguemojiGame.Instance.LocalPlayer.InventoryGridManager.GridHeight;

    protected override IList<Thing> GetThings()
    {
        return RoguemojiGame.Instance.LocalPlayer.InventoryGridManager.Things;
    }

    protected override void OnMouseDown(MousePanelEvent e)
    {
        base.OnMouseDown(e);

        var gridPos = GetGridPos(MousePosition);
        var player = RoguemojiGame.Instance.LocalPlayer;

        if(player.InventoryGridManager.IsGridPosInBounds(gridPos))
            Hud.Instance.GridCellClicked(gridPos, GridType.Inventory, rightClick: e.Button == "mouseright", shift: Input.Down(InputButton.Run), doubleClick: false);

        Hud.Instance.UnfocusChatbox();
    }

    protected override int BuildHash()
    {
        var gridWidthHash = RoguemojiGame.Instance.LocalPlayer.InventoryGridManager.GridWidth;
        return HashCode.Combine(GetThings().Count, gridWidthHash);
    }
}