@using Sandbox;
@using Sandbox.UI;

@inherits Panel;
@namespace Interfacer

<style>
    .root
    {
        flex-direction:column;
        background-color: #050505;
    }

    .upper_row
    {
        flex-direction:row;
        width: 100%;
        //height: 100%;
        //background-color: #002200;
        padding:20px;
    }

    .lower_row
    {
        flex-direction:row;
        padding: 0 35px 35px 35px;
        //background-color: #333300;
        flex-grow: 1;
        //border: 1px solid #ff88ff05;
    }

    .log
    {
        //width: 20%;
        margin-left:20px;
        //background-color: #000055;
        flex-grow: 1;
    }

    .character
    {
        //background-color: #440044;
        width: 400px;
        border: 1px solid #ffffff05;
        border-radius: 3px;
    }

    .inventory
    {
        border: 1px solid #ffffff05;
        border-radius: 3px;
        margin: 0 20px 0 20px;
    }

    .info
    {
        width: 400px;
        border-radius: 3px;
        border: 1px solid #ffffff05;
        margin-right: 20px;
    }

    .stats
    {
        //background-color: #663300;
        width: 100px;
        flex-grow: 1;
        //margin-left: 20px;
        border-radius: 3px;
        border: 1px solid #ffffff05;
    }
</style>

<root class="root">
    <div class="upper_row">
        <ArenaPanel style="width: @(40 * InterfacerGame.ArenaWidth)px; height: @(40 * InterfacerGame.ArenaHeight)px;" @ref=ArenaPanel></ArenaPanel>
            <!-- <p style="color: #ffffff33;"> Hovered: @ArenaPanel.HoveredCellIndex @GetHoveredCoords() ----- Clicked: @ArenaPanel.GetSelectedIndexString() ----- # Cells: @ArenaPanel.Cells.Count() ----- # Things: @InterfacerGame.Instance.NumThings</p> -->

        <LogPanel class="log" @ref=LogPanel></LogPanel>
     </div>

    <div class="lower_row">
        <div class="character"></div>
        <InventoryPanel class="inventory" style="width: @(40 * InterfacerGame.InventoryWidth)px; height: @(40 * InterfacerGame.InventoryHeight)px;" @ref=InventoryPanel></InventoryPanel>
        <InfoPanel class="info"></InfoPanel>
        <div class="stats"></div>
    </div>
</root>

@code
{
    public ArenaPanel ArenaPanel { get; set; }
    public LogPanel LogPanel { get; set; }
    public InventoryPanel InventoryPanel { get; set; }

    public string GetHoveredCoords()
    {
        var gridPos = GridManager.GetGridPos(ArenaPanel.HoveredCellIndex, InterfacerGame.ArenaWidth);
        return gridPos.ToString();
    }
}