@using Sandbox;
@using Sandbox.UI;

@inherits Panel;
@namespace Roguemoji

<style>
    .root
    {
        width: 100%;
        height: 100%;
        flex-direction:column;
        background-color: #050505;
    }

    .upper_row
    {
        flex-direction:row;
        width: 100%;
        //height: 100%;
        //background-color: #002200;
        margin:20px;
        padding-right: 40px;
    }

    .upper_right_column
    {
        margin-left: 20px;
        flex-grow: 1;
        flex-direction: column;
        //align-items: stretch;
        flex-wrap: nowrap;
    }

    .lower_row
    {
        flex-direction:row;
        padding: 0 35px 35px 35px;
        //background-color: #333300;
        flex-grow: 1;
        //border: 1px solid #ff88ff05;
    }

    .log
    {
        width: 100%;
        height: 100%;
        flex-grow: 1;
        min-height: 10px;
        margin-bottom:5px;
    }

    .chatbox
    {
        
    }

    .character
    {
        //background-color: #440044;
        width: 400px;
        border: 1px solid #ffffff05;
        border-radius: 3px;
    }

    .nearby
    {
        width: 47px;
        margin: 0 0 0 20px;
        border: 1px solid #ffffff05;
        border-radius: 3px;
    }

    .inventory
    {
        border: 1px solid #ffffff05;
        border-radius: 3px;
        margin: 0 20px 0 20px;
    }

    .info
    {
        width: 400px;
        border-radius: 3px;
        margin-right: 20px;
    }

    .stats
    {
        //background-color: #663300;
        width: 100px;
        flex-grow: 1;
        //margin-left: 20px;
        border-radius: 3px;
        border: 1px solid #ffffff05;
    }
</style>

<root class="root">
    <div class="upper_row" style="height: @(40 * RoguemojiGame.ArenaHeight)px;">
        <ArenaPanel style="width: @(40 * RoguemojiGame.ArenaWidth)px;" @ref=ArenaPanel></ArenaPanel>
            <!-- <p style="color: #ffffff33;"> Hovered: @ArenaPanel.HoveredCellIndex @GetHoveredCoords() ----- Clicked: @ArenaPanel.GetSelectedIndexString() ----- # Cells: @ArenaPanel.Cells.Count() ----- # Things: @RoguemojiGame.Instance.NumThings</p> -->

        <div class="upper_right_column">
            <LogPanel class="log" @ref=LogPanel></LogPanel>
            <Chatbox class="chatbox" @ref=Chatbox></Chatbox>
        </div>
     </div>

    <div class="lower_row">
        <CharacterPanel class="character"></CharacterPanel>
        <NearbyPanel class="nearby" @ref=NearbyPanel></NearbyPanel>
        <InventoryPanel class="inventory" style="width: @(40 * RoguemojiGame.InventoryWidth)px; height: @(40 * RoguemojiGame.InventoryHeight)px;" @ref=InventoryPanel></InventoryPanel>
        <InfoPanel class="info"></InfoPanel>
        <div class="stats"></div>
    </div>
</root>

@code
{
    public ArenaPanel ArenaPanel { get; set; }
    public LogPanel LogPanel { get; set; }
    public Chatbox Chatbox { get; set; }
    public CharacterPanel CharacterPanel { get; set; }
    public NearbyPanel NearbyPanel { get; set; }
    public InventoryPanel InventoryPanel { get; set; }

    public string GetHoveredCoords()
    {
        var gridPos = GridManager.GetGridPos(ArenaPanel.HoveredCellIndex, RoguemojiGame.ArenaWidth);
        return gridPos.ToString();
    }
}