@using Sandbox;
@using Sandbox.UI;
@using System;
@using System.Linq;

@inherits Panel;
@namespace Roguemoji

<style>
    .nearby_icon
    {
        pointer-events:all;
        font-size: 29px;
        border: 1px solid #00000000;
        justify-content:center;
        align-items: center;
        text-align: center;
        width: 42px;
        height: 42px;
        padding-bottom: 4px;
        flex-shrink: 0;
        font-family: W10Emoji;
    }

    .nearby_selected 
    {
        border: 1px solid #bbbbff44;
        border-radius:3px;
    }

    .dragging
    {
        opacity: 0.2;
        transition: opacity 0.1s ease-in;
    }

    .nearby_cell_tattoo
    {
        width: 100%;
        height: 100%;
        position: absolute;
        //background-color: #0000ff88;
        justify-content: center;
        align-items: center;
        text-stroke-color: #000000;
        text-stroke-width: 2px;
    }
</style>

<root class="nearby_icon @GetSelectedClass() @GetUnusableClass(Thing, RoguemojiGame.Instance.LocalPlayer)" style="opacity:@(GetOpacity());">
    <div class="@GetPlayerClass() @GetDraggingClass()" @ref=IconPanel>
        @(Hud.GetHallucinationTextThing(Thing, Thing.DisplayIcon, HallucinationTextType.Icon))

        @if(Thing.HasTattoo)
        {
            int fontSize = MathX.FloorToInt(29f * Thing.TattooData.Scale);
            var offset = Thing.TattooData.Offset;
            <div class="nearby_cell_tattoo" style="font-size: @(fontSize)px; left: @(offset.x)px; top: @(offset.y)px;">
                @(Hud.GetHallucinationTextThing(Thing, Hud.GetTattooIcon(Thing), HallucinationTextType.Icon, tattoo: true))
            </div>
        }
    </div>
</root>

@code
{
    public Panel IconPanel { get; set; }
    public Thing Thing { get; set; }

    string GetPlayerClass()
    {
        return Thing.PlayerNum > 0 ? $"icon-player-{Thing.PlayerNum}" : "";
    }

    string GetSelectedClass()
    {
        return IsSelected() ? "nearby_selected" : "";
    }

    string GetDraggingClass()
    {
        return Thing == Hud.Instance.DraggedThing ? "dragging" : "";
    }

    bool IsSelected()
    {
        return Thing == RoguemojiGame.Instance.LocalPlayer?.SelectedThing;
    }

    string GetUnusableClass(Thing thing, RoguemojiPlayer player)
    {
        if (thing.HasFlag(ThingFlags.Useable))
        {
            if (!thing.CanBeUsedBy(player, ignoreResources: true))
                return "unusable_item";
        }

        return "";
    }

    float GetOpacity() { return Thing.Opacity * (Thing.GetStatClamped(StatType.Invisible) > 0 ? 0.25f : 1f); }

    protected override Panel CreateTooltipPanel()
    {
        var panel = Hud.Instance.AddChild<CellTooltip>();
        panel.Thing = Thing;

        var player = RoguemojiGame.Instance.LocalPlayer;
        var topItem = player.ContainingGridManager.GetThingsAtClient(player.GridPos).WithAll(ThingFlags.CanBePickedUp).WithNone(ThingFlags.Solid).OrderByDescending(x => x.GetZPos()).FirstOrDefault();
        panel.IsNearby = true;
        panel.ShowPickUpKey = (Thing == topItem);

        panel.AddClass($"tooltip_player-{Thing.PlayerNum}");
        return panel;
    }

    protected override int BuildHash()
    {
        if (Thing == null)
            return base.BuildHash();

        var player = RoguemojiGame.Instance.LocalPlayer;
        var floaterHash = Thing.HasFloaters ? Game.Random.Int(0, 9999) : 0;
        return HashCode.Combine(Thing.GetNearbyCellHash(), IsSelected(), player.StatHash, player.HallucinatingSeed, floaterHash);
    }

    protected override void OnAfterTreeRender(bool firstTime)
    {
        base.OnAfterTreeRender(firstTime);

        if (Thing == null)
            return;

        Tooltip = Thing.Tooltip;
    }

    protected override void OnMouseDown(MousePanelEvent e)
    {
        base.OnMouseDown(e);

        bool rightClick = e.Button == "mouseright";
        bool shift = Input.Down(InputButton.Run);

        if(shift || rightClick)
            RoguemojiGame.NearbyThingClickedCmd(Thing.NetworkIdent, rightClick, shift, doubleClick: false);
        else
            Hud.Instance.StartDragging(Thing, this, rightClick, PanelType.Nearby);

        e.StopPropagation();

        Hud.Instance.UnfocusChatbox();
    }

    protected override void OnDoubleClick(MousePanelEvent e)
    {
        base.OnDoubleClick(e);

        bool shift = Input.Down(InputButton.Run);
        bool rightClick = e.Button == "mouseright";

        RoguemojiGame.NearbyThingClickedCmd(Thing.NetworkIdent, rightClick, shift, doubleClick: true);
        Hud.Instance.StopDragging();

        e.StopPropagation();
    }

    void DrawDebugText(string text)
    {
        DebugOverlay.ScreenText(text, PanelPositionToScreenPosition(Vector2.Zero), 0, Color.White, 0f);
    }
}