@using Sandbox;
@using Sandbox.UI;

@inherits Panel;
@namespace Roguemoji

<style>
    .stat_tooltip {
        position: absolute;
        border-radius: 2px;
        border: 1px solid #ffffff33;
        box-shadow: 2px 2px 12px black;
        flex-direction:column;
        padding: 5px 9px 5px 9px;
        font-family: RobotoMono;
    }

    .stat_tooltip_name {
        font-size: 18px;
        flex-direction: row;
    }

    .stat_tooltip_desc {
        font-size: 16px;
        color: #ffffff99;
    }

    .stat_tooltip_max {
        color: #ffffff55;
        padding-left: 6px;
    }

    .stat_tooltip_info_desc {
        font-size: 16px;
        color: #ffffff66;
    }
</style>

<root class="stat_tooltip">
    <div class="stat_tooltip_name" style="color: @(Thing.GetStatColor(StatType));">
        <span>@StatName</span>

        @if(Thing.ShouldShowMaxOnTooltip(StatType))
        {
            <span class="stat_tooltip_max">@($"{Stat.CurrentValue}/{Stat.MaxValue}")</span>
        }
    </div>
    <div class="stat_tooltip_desc">
        @(Thing.GetStatDescription(StatType))
    </div>

    <div class="stat_tooltip_info_desc">
        @(Thing.GetStatInfoDescription(StatType, Thing))
    </div>
</root>

@code
{
    public string StatName { get; set; }
    public StatType StatType { get; set; }
    public Stat Stat { get; set; }
    public Thing Thing { get; set; }
}