@using Sandbox;
@using Sandbox.UI;

@inherits Panel;
@namespace Roguemoji

<style>
    .trait_tooltip {
        position: absolute;
        border-radius: 2px;
        border: 1px solid #ffffff33;
        box-shadow: 2px 2px 12px #000000;
        flex-direction:column;
        padding: 5px 8px 5px 8px;
        font-family: RobotoMono;
        flex-wrap: wrap;
        background-color: #000000fa;
    }

    .trait_tooltip_ability_label {
        font-size: 18px;
        padding-right: 10px;
        color: #333333;
    }

    .trait_tooltip_name_container {
        flex-direction: row;
        padding-bottom: 4px;
    }

    .trait_tooltip_name {
        font-size: 18px;
        color: #777777;
    }

    .trait_tooltip_ability_bind {
        font-size: 18px;
        padding-left: 10px;
        color: #333333;
    }

    .trait_tooltip_desc {
        font-size: 15px;
        color: #666666;
    }

    .trait_tooltip_source {
        font-size: 13px;
        color: #ffffff44;
        padding: 4px 0 0 0;
    }
</style>

<root class="trait_tooltip">
    @if (!string.IsNullOrEmpty(Trait.TraitName) || RoguemojiGame.Instance.LocalPlayer.IsHallucinating) 
    {
        <div class="trait_tooltip_name_container">
            @if(Trait.IsAbility)
            {
                <span class="trait_tooltip_ability_label">
                    @(Hud.GetConfusedText("Ability:"))
                </span>    
            }
            
            <span class="trait_tooltip_name">
                @(Hud.GetConfusedText(Hud.GetHallucinationTextKeyStr(Trait.Icon, Trait.TraitName, HallucinationTextType.Name)))
            </span>

            @if (Trait.IsAbility)
            {
                <span class="trait_tooltip_ability_bind"> 
                    [Space]
                </span>    
            }
        </div>
    }
    
    <div class="trait_tooltip_desc"> 
        @(Hud.GetConfusedText(Hud.GetHallucinationTextKeyStr(Trait.Icon, Trait.Description, HallucinationTextType.Description)))
    </div>

    @{
        var player = RoguemojiGame.Instance.LocalPlayer;
    }

    @if (!string.IsNullOrEmpty(Trait.Source) && !player.IsHallucinating)
    { 
        <span class="trait_tooltip_source">
            @(Hud.GetConfusedText("From:"))

            <span style="font-weight: bold; padding-left: 5px;">
                @(Hud.GetConfusedText(Trait.Source))
            </span>
        </span> 
    }
</root>

@code
{
    public Trait Trait { get; set; }
}