@using Sandbox;
@using Sandbox.UI;

@inherits Panel;
@namespace Roguemoji

<style>
    .wielding_tooltip {
        color: white;
        font-size: 16px;
        position: absolute;
        padding: 2px 4px 2px 4px;
        border-radius: 2px;
        border: 1px solid #ffffff33;
        box-shadow: 2px 2px 12px #000000;
        font-family: RobotoMono;
        flex-direction: column;
        background-color: #000000fa;
    }

    .wielding_title {
        padding-bottom: 2px;
    }

    .wielding_line {
        flex-direction: row;
    }

    .wielding_action {
        color: #333333;
        padding-right: 6px;
    }

    .wielding_bind {
        color: #888888;
        //align-items: flex-end;
        //background-color: blue;
        //flex-grow: 1;
    }

    .wielding_nothing_equipped {
        color: #444444;
        font-size: 14px;
        background-color: #00000033;
    }
</style>

<root class="wielding_tooltip" style="border-color:@(Thing == null ? "#ffffff05" : "#ffffff33");">
    
    @if (Thing == null)
    {
        <div class="wielding_nothing_equipped">
            @(Hud.GetConfusedText("Nothing equipped"))
        </div>

        return;
    }

    <div class="wielding_title">
        @(Hud.GetConfusedText(Hud.GetHallucinationTextKeyStr(Thing.DisplayIcon.Substring(Thing.CharSkip), Hud.GetTooltip(Thing), HallucinationTextType.Name)))
    </div>

    @if(Thing.HasFlag(ThingFlags.Useable))
    {
        <div class="wielding_line">
            <span class="wielding_action" style="color: #666666;">
                @(Hud.GetConfusedText(Thing.AbilityName))
            </span>

            <span class="wielding_bind">[Space]</span>
        </div>
    }

    <div class="wielding_line">
        <span class="wielding_action">
            @(Hud.GetConfusedText("Throw"))
        </span>

        <span class="wielding_bind">[F]</span>
    </div>

    <div class="wielding_line">
        <span class="wielding_action">
            @(Hud.GetConfusedText("Drop"))
        </span>

        <span class="wielding_bind">[G]</span>
    </div>

    <div class="wielding_line">
        <span class="wielding_action">
            @(Hud.GetConfusedText("Unequip"))
        </span>

        <span class="wielding_bind">[Q]</span>
    </div>

    <div class="wielding_line">
        <span class="wielding_action">
            @(Hud.GetConfusedText("View Info"))
        </span>

        <span class="wielding_bind">[V]</span>
    </div>
</root>

@code
{
    public Thing Thing { get; set; }
}